* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: sans-serif;
  display: grid;
  background-color: #e5e7eb;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
}

.converter-temperatura {
  display: flex;
  flex-direction: column;
  gap: 35px;
  padding: 20px;
  background-color: #fff;
  width: 350px;
}

.converter-temperatura input,
select {
  height: 40px;
  outline: none;
  border: none;
  background-color: #e5e7eb;
}

.entrada-temperatura select {
  width: 50px;
  background-color: #18aaee;
  text-align: center;
  font-size: 16px;
  color: #fff;
  font-weight: bold;
}

.entrada-temperatura {
  display: flex;
}

.entrada-temperatura input {
  flex-grow: 1;
  padding: 5px;
  font-size: 16px;
}

.resultado {
  background-color: #18aaee;
  width: 350px;
  height: 400px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 75px;
  color: #fff;
}

.unidade-origem {
  margin-top: 30px;
}

.unidade-origem,
.unidade-destino {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  height: 100px;
}

.unidade-destino select {
  font-size: 16px;
}

button {
  flex-grow: 0;
  width: 130px;
  font-size: 15px;
  font-weight: 600;
  border: none;
  padding: 15px;
  align-self: center;
  background-color: #18aaee;
  color: #fff;
  cursor: pointer;
}
